In [ ]:
# Objects and Data Structures Assessment Test

## Test your knowledge. 

**Answer the following questions**

In [ ]:
## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [2]:
1/4+(30-5)*4

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5 
    
    What is the value of the expression 4 / 3 + 1

In [4]:
#float
type(3+1.5+4)

float

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

What would you use to find a numberâ€™s square root, as well as its square?

In [5]:
# Square root:
100**0.5

10.0

In [6]:
# Square:
10**2

100

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [2]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [8]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [9]:
s ='hello'
# Print out the 'o'

# Method 1:

s[-1]

'o'

In [10]:
# Method 2:
s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [2]:
# Method 1:
my_list_1 = [0,0,0]
print(my_list_1)

[0, 0, 0]

In [8]:
# Method 2:
my_list_2 = [0]
my_list_2 *= 3
my_list_2

[0, 0, 0]

In [9]:
my_list_3 = []
my_list_3.append(0)
my_list_3.append(0)
my_list_3.append(0)
my_list_3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [10]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [14]:
list4 = [5,3,4,6,1]

list4.sort()
print(list4)
list5 = list4[::-1]
print(list5)

[1, 3, 4, 5, 6]
[6, 5, 4, 3, 1]